@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap');

:root {
  --border-radius: 5px;
  --card-padding: 2rem;
  --green: #2abe69;
  --red: #d86d4e;
  --blue: #0070b7;
  --yellow: #fecc27;
  --lightblue: #4dbae6;
  --lightgrey: #bdbdbd;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tag-red {
  background-color: rgb(243 221 221);
  color: var(--red);
}
.tag-blue {
  background-color: rgb(233 233 255);
  color: var(--blue);
}
.tag-grey {
  background-color: #e8e8e8;
  color: var(--lightgrey);
}
.tag-yellow {
  background-color: rgb(253 253 219);
  color: var(--yellow);
}
.tag-green {
  background-color: rgb(225 255 225);
  color: var(--green);
}
