.taskCardContainer {
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.taskCard_title {
  margin-top: 0;
}
.taskCard__tags {
  display: flex;
  align-items: center;
}
.taskCard__tag {
  padding: 4px 12px;
  border-radius: var(--border-radius);
  margin-right: 10px;
  font-size: 14px;
}
