.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Landing Page Section */
.landingPage_navbar {
  display: flex;
}
.landingPage_logo {
  flex-grow: 1;
}
.landingPage_padding {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    width: 1500px;
    padding: 0 100px;
}
.landingPage_heroSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.landingPage_heroSectionRectangles {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}
.landingPage_titlesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.landingPage_heroTitle_h1 {
  font-size: 150px;
  margin: 20px 0px 0px;
  font-weight: normal;
}
.landingPage_heroTitle_h3 {
  font-size: 40px;
  margin: 0px;
  font-weight: normal;
  width: 375px;
  text-align: center;
}
.landingPage_yellowRectangle {
  width: 80px;
  height: 80px;
  position: relative;
  left: -35%;
  top: 150px;
}
.landingPage_blueRectangle {
  width: 60px;
  height: 60px;
  position: relative;
  left: 30%;
  top: 200px;
}
.landingPage_greenRectangle {
  width: 40px;
  height: 40px;
  position: relative;
  left: -45%;
  top: 250px;
}
.landingPage_redRectangle {
  width: 100px;
  height: 100px;
  position: relative;
  left: 40%;
  top: 250px;
}
.landingPage_exampleRectangles{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -30px;
  width: 100%;
}
.landingPage_desktopRectangle {
  width: 800px;
  position: relative;
  top: -100px;
}
.landingPage_mobileRectangle {
  width: 400px;
  position: absolute;
  left: 5%;
}
.landingPage_features {
  margin-bottom: 200px;
  padding: 0px 80px;
}
.landingPage_featureSection {
  display: flex;
  justify-content: space-between;
}
.landingPage_featureBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.landingPage_featureBox_first {
  position: relative;
  top: 200px;
}
.landingPage_featureBox_second {
  position: relative;
  top: 100px;
}
.landingPage_sloganMobile {
  min-height: 250px;
  background-color: var(--blue);
  display: none;
  align-items: center;
  justify-content: center;
  margin: -20px;
  padding: 20px;
}
.landingPage_sloganDesktop {
  display: flex;
  align-items: center;
  background-image: url('/assets/landingPage/slogan.png');
  background-repeat: no-repeat;
  background-position: right;
  min-height: 630px;
}
.landingPage_sloganDesktopBlueBox {
  background-color: var(--blue);
  padding-left: 20%;
  padding-right: 10px;
  margin-right: 10px;
  min-height: 520px;
  display: flex;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius:15px;
}
.landingPage_footer {
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
@media only screen and (max-width: 800px) {
  .landingPage_padding {
    padding: 0px 20px;
  }
  .landingPage_heroTitle_h1 {
    font-size: 80px;
  }
  .landingPage_heroTitle_h3 {
    width: 185px;
    font-size: 20px;
  }
  .landingPage_yellowRectangle {
    width: 50px;
    height: 50px;
    top: 80px;
  }
  .landingPage_blueRectangle {
    width: 40px;
    height: 40px;
    top: 160px;
  }
  .landingPage_greenRectangle {
    width: 30px;
    height: 30px;
    top: 200px;
  }
  .landingPage_redRectangle {
    width: 60px;
    height: 60px;
    top: 200px;
  }
  .landingPage_exampleRectangles {
    top: 80px;
  }
  .landingPage_desktopRectangle {
    width: 90%;
    top: -160px;
  }
  .landingPage_mobileRectangle {
    width: 50%;
    top: 100px;
    left: -10%;
  }
  .landingPage_features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    padding: 0px;
  }
  .landingPage_featureSection {
    flex-direction: column-reverse;
    align-items: center;
  }
  .landingPage_featureBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  .landingPage_featureBox div {
    padding-top: 10px;
  }
  .landingPage_featureBox_first {
    position: unset;
  }
  .landingPage_featureBox_second {
    position: unset;
  }
  .landingPage_sloganMobile {
    display: flex;
  }
  .landingPage_sloganDesktop {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .landingPage_exampleRectangles {
    top: 130px;
  }
  .landingPage_mobileRectangle {
    top: -50px;
  }
}

/* Task Card Section */
.taskCardContainer {
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.taskCard_title {
  margin-top: 0;
}
.taskCard__tags {
  display: flex;
  align-items: center;
}
.taskCard__tag {
  padding: 4px 12px;
  border-radius: var(--border-radius);
  margin-right: 10px;
  font-size: 14px;
}
